.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 32px auto 0;
  padding: 16px 35px 18px 34px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 15px auto 0;
  padding: 16px 35px 18px 34px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 15px auto 0;
  padding: 16px 35px 18px 34px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 15px auto 0;
  padding: 16px 35px 18px 34px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 15px auto 60px;
  padding: 16px 35px 18px 34px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    padding: 17px 30px 17px 29px;
  }

  .u-section-1 .u-btn-3 {
    padding: 17px 64px 17px 63px;
  }

  .u-section-1 .u-btn-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-6 {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 18px auto 36px;
    padding: 16px 35px 18px 34px;
  }
}